@page "/blue"

<h3>@Today.Year.ToString() @Today.ToString("MMMM").ToUpper()</h3>
<div class="row">
    

    <div class="col-11">
        @if (!monthUnlocked)
        {
            <button type="button" class="btn btn-primary btn-sm" @onclick="SubstractMonth">Předchozí měsíc</button>
            <button type="button" class="btn btn-primary btn-sm" @onclick="AddMonth">Další měsíc</button>
        }
    </div>
    <div class="col-1 btn-group-sm">
        @if (monthUnlocked)
        {
            <button type="button" class="btn-sm" @onclick="LockMonth">Zamknout&Uložit </button>
        }
        else
        {
            <button type="button" class="btn-sm" @onclick="UnlockMonth">Odemknout</button>
        }
    </div>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Den</th>
            @for (int i = 1; i <= DateTime.DaysInMonth(Year, Month); i++)
            {
                @if (i == DateTime.Now.Day && Today.Month == DateTime.Now.Month && Today.Year == DateTime.Now.Year)
                {
                    <th scope="col" class="text-info">@i</th>
                }
                else
                {
                    <th scope="col">@i</th>
                }

            }
        </tr>
    </thead>
    <tbody>
        @for (int j = 0; j <= 7; j++)
        {
            <tr>
                <th scope="row">polozka @j</th>
                @for (int i = 1; i <= DateTime.DaysInMonth(Year, Month); i++)
                {
                    @if (monthUnlocked)
                    {
                        <td>
                            <BlazorPureBlue.Shared.BlueLifeField IsActive="true" />
                        </td>
                    }
                    else
                    {
                        @if (i == DateTime.Now.Day && Today.Month == DateTime.Now.Month && Today.Year == DateTime.Now.Year)
                        {
                            <td>
                                <BlazorPureBlue.Shared.BlueLifeField IsActive="true" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <BlazorPureBlue.Shared.BlueLifeField IsActive="false" />
                            </td>
                        }
                    }

                }


            </tr>
        }
    </tbody>
</table>



@code {
    List<string> BLItems = new List<string>();
    Dictionary<DateTime, bool> IsCheckedDictionary = new Dictionary<DateTime, bool>();
    DateTime Today = DateTime.Now;
    int Month = DateTime.Now.Month;
    int Year = DateTime.Now.Year;
    bool monthUnlocked = false;


    void SubstractMonth()
    {
        Today = Today.AddMonths(-1);
        Month = Today.Month;
        Year = Today.Year;
        RefillLists();
    }
    void AddMonth()
    {
        Today = Today.AddMonths(1);
        Month = Today.Month;
        Year = Today.Year;
        RefillLists();
    }
    void SaveData()
    {

    }
    void RefillLists()
    {

    }
    void LockMonth()
    {
        monthUnlocked = false;
    }
    void UnlockMonth()
    {
        monthUnlocked = true;
    }
    public class BlueHandler
    {
        public BlueHandler()
        {
            DayTaskRecords = new List<DayTaskRecord>();
            TaskTitles = new List<string>();
        }

        public List<DayTaskRecord> DayTaskRecords { get; set; }

        public List<string> TaskTitles { get; set; }
    }
    public class DayTaskRecord
    {
        public DateTime Date { get; set; }
        public int TaskIndex { get; set; }
    }


}
